* {
    margin: 0;
    padding: 0;
}

html {
    background-color: thistle;
    color: midnightblue;
    font-family: sans-serif;
}

h1 {
    font-size: 3rem;
    margin: 2% 0;
    text-align: center;
    text-shadow: 3px 3px darkgray;
}

h3 {
    margin: 30px auto;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

ul li {
    text-align: left;
    margin: 1rem 2rem;
    list-style: none;
}

.wrapper {

    background-color: thistle;
    margin: 30px 30px;

    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);

}

.wrapper > * {
    
    background-color: white;
    box-shadow: 1px 3px 4px rgba(0,0,0,.5);
    height: 100%;
    width: 100%;
    text-align: center;
}

.wrapper > :last-child {
    grid-column: 1 / span 2;
}

.img-wrap {
    overflow: hidden;
    grid-column: 1 / span 2;
    grid-row: 1.5fr;

}
